.blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}